* {
    font-family: 'Segoe UI';
}

body {
    background: #ddd;
    line-height: 26px;
}

select {
    height: 30px;
    font-weight: bold;
    border-radius: 0;
    background-color: #777;
    border: none;
    border-bottom: 2px solid #000;
    color: #fff;
}

#NameLabel {
    font-size: 36px;
    font-weight: bold;
}

table, th, td {
    background: #eee;
    font-size: 24px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px 5px;
    text-align: center;
}

th {
    background: #b8b8b8;
}

td {
    padding: 0px 15px;
}

input[type=submit] {
    font-size: 18px;
    border: 1px solid black;
    box-shadow: #000 3px 3px;
}

    input[type=submit]:hover {
        box-shadow: #555 3px 3px;
        background: #ddd;
    }

    input[type=submit]:active {
        position: relative;
        top: 1px;
    }
